0 */12 * * * perl /findmjob.com/cron/tools/sitemap.pl
0 */3 * * *  /usr/local/bin/indexer --all --config /findmjob.com/etc/sphinx.conf --rotate

# scrape
10 */4 * * * perl /findmjob.com/cron/scrape/run.pl -m Perl
20 */4 * * * perl /findmjob.com/cron/scrape/run.pl -m Github
30 */4 * * * perl /findmjob.com/cron/scrape/run.pl -m StackOverflow
40 */2 * * * perl /findmjob.com/cron/scrape/run.pl -m oDesk
50 * * * * perl /findmjob.com/cron/scrape/run.pl -m Linkedin
10 */2 * * * perl /findmjob.com/cron/scrape/run.pl -m Elance
20 */4 * * * perl /findmjob.com/cron/scrape/run.pl -m CareerBuilder

# sharebot
0 * * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m Twitter
10 */2 * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m Delicious
20 */3 * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m x100zakladok
30 * * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m Plurk -n 5
40 * * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m Facebook
50 */3 * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m GiveaLink
20 * * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m LinkedIn