0 */12 * * * perl /findmjob.com/cron/tools/sitemap.pl
#0 */3 * * * bash /findmjob.com/cron/sphinx/indexer.sh
0 0 * * * perl /findmjob.com/cron/stats/daily.pl
15 0 * * * perl /findmjob.com/cron/stats/trends.pl
0 10 * * * perl /findmjob.com/cron/stats/location_job_num.pl
22 2 * * * perl /findmjob.com/cron/cleanup/expired.pl

*/15 * * * * perl /findmjob.com/cron/elasticsearch/incre_index.pl

# emails
*/5 * * * * perl /findmjob.com/cron/emails/sendmail.pl

# scrape
10 */12 * * * perl /findmjob.com/cron/scrape/run.pl -m Perl
20 * * * * perl /findmjob.com/cron/scrape/run.pl -m Github
30 * * * * perl /findmjob.com/cron/scrape/run.pl -m StackOverflow
50 * * * * perl /findmjob.com/cron/scrape/run.pl -m Linkedin
30 * * * * perl /findmjob.com/cron/scrape/run.pl -m SmashingMagazine
50 * * * * perl /findmjob.com/cron/scrape/run.pl -m 37Signals
0 * * * * perl /findmjob.com/cron/scrape/run.pl -m RubyNow
10 */12 * * * perl /findmjob.com/cron/scrape/run.pl -m CrunchBoard
20 */2 * * * perl /findmjob.com/cron/scrape/run.pl -m CareerBuilder
20 */12 * * * perl /findmjob.com/cron/scrape/run.pl -m DjangoJobs
10 13 * * * perl /findmjob.com/cron/scrape/run.pl -m Punchgirls
*/15 * * * * perl /findmjob.com/cron/scrape/run.pl -m Elance
*/15 * * * * perl /findmjob.com/cron/scrape/run.pl -m oDesk
*/20 * * * * perl /findmjob.com/cron/scrape/run.pl -m Freelancer
*/15 * * * * perl /findmjob.com/cron/scrape/run.pl -m Freelancer2
50 */12 * * * perl /findmjob.com/cron/scrape/run.pl -m ScalaJobs
5 1 * * * perl /findmjob.com/cron/scrape/run.pl -m PythonWeekly

# sharebot
*/30 * * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m Twitter
10 */2 * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m Delicious
30 * * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m Plurk -n 5
40 * * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m Facebook
*/20 * * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m LinkedIn -n 5
#50 * * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m Tumblr
*/5 * * * * perl /findmjob.com/cron/sharebot/sharebot.pl -m GooglePlus -n 1