span.stars, span.stars span {
  display: block;
  background: url(../jquery.raty/img/star-off.png);
  width: 80px;
  height: 16px;
}
span.stars span {
  background: url(../jquery.raty/img/star-on.png);
}