<body lang="en" style="padding: 0; margin: 0;">

<p>someone requests to subscribe the updates of "[% keyword %]"[% IF loc +%] in [% loc %][% END %].</p>

<p>If that's you, please confirm it by clicking the link below:</p>

[% id = id | uri; link = 'http://findmjob.com/subscribe/confirm?id=' _ id _ '&hash=' _ sec_hash %]
<p><a href='[% link %]'>[% link %]</a></p>

<p>If it's not you, please ignore it and Sorry for the trouble caused.</p>

<p>Regards, <a href='http://findmjob.com/'>FindmJob.com</a>

</body>