[% title = 'How Does It Work?' %]

<section id="how_work">
<div class="page-header">
    <h1>[% title %] <small>Ways to keep up to date!</small></h1>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Feed</h3>
    <p>
        If you use any Feed Reader like Google Reader or software, you can always subscribe our tag feed: eg:
        <a href='/tag/Perl/feed.rss'>http://findmjob.com/tag/Perl/feed.rss</a> or <a href='/tag/Ruby/feed.atom'>http://findmjob.com/tag/Ruby/feed.atom</a>
    </p>
    <p>
        You can find it in the right bottom of the page next to <img src='[% config.sites.static %]/images/rss.png' />
    </p>
  </div>
  <div class="col-md-4">
    <h3>Twitter/Facebook/LinkedIn</h3>
    <p>
      <ul class="list-unstyled">
        <li><i class='fa-twitter-square'></i><a href='https://twitter.com/findmjob' target='_blank'>https://twitter.com/findmjob</a></li>
        <li><i class='fa-facebook-square'></i><a href='https://apps.facebook.com/findmjob/' target='_blank'>https://apps.facebook.com/findmjob/</a></li>
        <li><i class='fa-facebook-square'></i><a href='https://facebook.com/findmjob' target='_blank'>https://facebook.com/findmjob</a></li>
        <li><i class='fa-linkedin-square'></i><a href='http://www.linkedin.com/in/findmjob' target='_blank'>http://www.linkedin.com/in/findmjob</a></li>
        <li><i class='fa-google-plus-square'></i><a href='https://plus.google.com/u/0/108951842434983124305/posts' target='_blank'>Google Plus</a>
      </ul>
    </p>
  </div>
  <div class="col-md-4">
    <h3>Email Subscription</h3>
    <p>Next to search/tag section, we have Subscription Box there, you can use email to get updates!</p>
  </div>
</div>

<div class="page-header">
    <h1>[% title %] <small>job aggregator</small></h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Job sites</h3>
    <ul class="list-unstyled">
        <li><a href='http://careers.stackoverflow.com/' target='_blank'>http://careers.stackoverflow.com/</a></li>
        <li><a href='http://www.linkedin.com/jobs' target='_blank'>http://www.linkedin.com/jobs</a></li>
        <li><a href='http://jobs.37signals.com/' target='_blank'>http://jobs.37signals.com/</a></li>
        <li><a href='https://jobs.github.com/' target='_blank'>https://jobs.github.com/</a></li>
        <li><a href='http://jobs.smashingmagazine.com' target='_blank'>http://jobs.smashingmagazine.com</a></li>
        <li><a href='http://jobs.perl.org/' target='_blank'>http://jobs.perl.org/</a></li>
        <li><a href='http://jobs.rubynow.com/' target='_blank'>http://jobs.rubynow.com/</a></li>
        <li><a href='http://www.careerbuilder.com/' target='_blank'>http://www.careerbuilder.com/</a></li>
        <li><a href='http://www.crunchboard.com/' target='_blank'>http://www.crunchboard.com/</a></li>
    </ul>
  </div>
  <div class="col-md-6">
    <h3>Freelancer sites</h3>
    <p>
      <ul class="list-unstyled">
        <li><a href='http://www.odesk.com/' target='_blank'>http://www.odesk.com/</a></li>
        <li><a href='http://www.elance.com/' target='_blank'>http://www.elance.com/</a></li>
        <li><a href='http://www.freelancer.com/' target='_blank'>http://www.freelancer.com/</a></li>
      </ul>
    </p>
  </div>
</div>

</section>