<div class="row">
    <div class="span8 offset2 alert[% IF suc +%] alert-success[% END %]">
        <h3>Thanks for the subscription!</h3>
        <p />
        [% IF suc %]
        <p>You'll get updates soon, have fun!</p>
        [% ELSE %]
        <p>Failed to validate the email, please compare the url with the one in email.</p>
        [% END %]
    </div>
</div>