[% title = tag.text %]
[% has_feed = 1 %]

[% USE String %]

[% INCLUDE include/addthis.tt2 %]
<h1>[% title %]</h1>
<hr class="soften">

<ul>
[% FOREACH obj IN objects %]
<li>[% INCLUDE object.tt2 %]</li>
[% END %]
</ul>

[% INCLUDE pager.tt %]
