<!DOCTYPE html>
<html lang="en">
<title>[% IF title; title _ ' - '; END; -%]FindmJob.com</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link href="[% config.sites.static %]/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="[% config.sites.static %]/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="[% config.sites.static %]/bootstrap/js/bootstrap.min.js"></script>

[% IF title %]
<meta property="og:title" content="[% title.squote %]" />
<meta property="og:site_name" content="FindmJob.com" />
<meta property="og:type" content="website" />
<meta property="og:url" content="[% request.uri_base %][% request.uri %]" />
[% END %]
[% IF description %]
<meta property="og:description" content="[% description.squote %]" />
[% END %]

<link rel="shortcut icon" type="image/x-icon" href="[% config.sites.static %]/favicon.ico" type="image/x-icon" />
</head>
<body>

<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">FindmJob.com</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="/">Jobs</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container">

[% content %]

<br />
<hr class="soften">
<br />

<footer class="footer">
    [% IF has_feed %]
    [% base_url = request.uri.replace('/p.(\d+)/', '/').replace('/p.(\d+)$', '').replace('/$', '') %]
    <p class="pull-right"><a href='[% base.url %]/feed.rss'>RSS</a> | <a href='[% base.url %]/feed.atom'>Atom</a></p>
    <link rel="alternate" type="application/rss+xml" href="[% base.url %]/feed.rss" title="RSS 2.0">
    <link rel="alternate" type="application/atom+xml" href="[% base.url %]/feed.atom" title="Atom 1.0">
    [% END %]
    <p>&copy; FindmJob.com</p>
</footer>

</div>

<script type="text/javascript" src="[% config.sites.static %]/js/jquery.timeago.js"></script>
<script>
    $(document).ready(function() {
        $('.timeago').timeago();
    });
</script>

</body>
</html>