<!DOCTYPE html>
<html lang="en">
<title>[% IF title; title _ ' - '; END; -%]FindmJob.com</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link href="[% config.sites.static %]/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="[% config.sites.static %]/assets/css/font-awesome.min.css" rel="stylesheet" />
<link href="[% config.sites.static %]/assets/css/findmjob.css" rel="stylesheet">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

[%- IF title %]
<meta property="og:title" content="[% title.squote %]" />
<meta property="og:site_name" content="FindmJob.com" />
<meta property="og:type" content="website" />
<meta property="og:url" content="[% config.sites.main %][% base_url %]" />

<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@findmjob" />
<meta name="twitter:creator" content="@findmjob" />
<meta name="twitter:url" content="[% config.sites.main %][% base_url %]" />
<meta name="twitter:title" content="[% title.squote %]" />
[% END -%]

[%- IF page_image %]
<meta property="og:image" content="[% page_image %]" />
<meta name="twitter:image" content="[% page_image %]" />
[% END -%]

[%- IF description -%]
[% description = description.replace("\n", ' ').squote %]
<meta property="og:description" content="[% description %]" />
<meta name="twitter:description" content="[% description %]" />
<meta name="description" content="[% description %]" />
[% END -%]
[%- IF meta_keywords %]
<meta name="keywords" content="[% meta_keywords.squote %]" />
[% END -%]

<meta property="fb:app_id" content="281749461905114" />

<link rel="shortcut icon" type="image/x-icon" href="[% config.sites.static %]/favicon.ico" />
</head>
<body>

<div class="container[% IF is_fb_app +%] canvas[% END %]" style="margin-top: 10px">

<header>
<div class="row">
  <div class="col-md-4"><a href='/'><img src="[% config.sites.static %]/Logo.png" /></a></div>
  <div class="col-md-6 col-md-offset-2" style="margin-top: 20px">
    <form action='/search' id="search_form" role="form" class="form-inline">
        <div class="form-group"><input type="text" class="form-control col-md-2" name="q" placeholder="Keyword ..."></div>
        <div class="form-group"><input type="text" class="form-control col-md-2" name="loc" placeholder="Location ..."></div>
        <button type='submit' class="btn btn-primary" value="Search" /><i class="icon-search"></i> Search</button>
    </form>
  </div>
</div>

<div class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li[% IF base_url == '/' %] class="active"[% END %]><a href='/'><i class="icon-home icon-large"></i></a></li>
      <li[% IF base_url.search('/job') %] class="active"[% END %]><a href="/jobs"><i class='icon-user'></i> Jobs</a></li>
      <li[% IF base_url.search('/freelance') %] class="active"[% END %]><a href="/freelances"><i class='icon-globe'></i>  Freelances</a></li>
      <li[% IF base_url == '/HowDoesItWork.html' %] class="active"[% END %]><a href="/HowDoesItWork.html"><i class='icon-question-sign'></i> How Does It Work?</a></li>
      <li[% IF base_url == '/AndroidApp.html' %] class="active"[% END %]><a href="/AndroidApp.html"><i class='icon-mobile-phone'></i> Android App</a></li>
    </ul>
</div>

</header>

[% message = c.flash('message') %]
[% IF message %]
<div class="col-md-8 col-md-offset-2 alert alert-success clearfix">[% message %]</div>
[% END %]
[% error = c.flash('error') %]
[% IF error %]
<div class="col-md-8 col-md-offset-2 alert alert-danger clearfix">[% error %]</div>
[% END %]

[% content %]

<br />
<hr class="soften">
<br />

<footer class="footer">
    [% IF has_feed %]
    [% base_url = base_url.replace('/p.(\d+)/', '/').replace('/p.(\d+)$', '').replace('/([^/]+).html$', '').replace('/$', '') %]
    [% IF base_url == ''; base_url = '/jobs'; END %]
    <p class="pull-right"><img src='[% config.sites.static %]/images/rss.png' /> <a href='[% base_url %]/feed.rss'>RSS</a> | <a href='[% base_url %]/feed.atom'>Atom</a></p>
    <link rel="alternate" type="application/rss+xml" href="[% base_url %]/feed.rss" title="RSS 2.0">
    <link rel="alternate" type="application/atom+xml" href="[% base_url %]/feed.atom" title="Atom 1.0">
    [% END %]
    <p>&copy; FindmJob.com | <a href='/help/contact'>Contact</a></p>
</footer>

</div>

<script type="text/javascript" src="[% config.sites.static %]/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="[% config.sites.static %]/js/jquery.timeago.js"></script>
<script type="text/javascript" src="[% config.sites.static %]/js/findmjob.js"></script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30546285-1']);
  _gaq.push(['_setDomainName', 'findmjob.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>