<!DOCTYPE html>
<html lang="en">
<title>[% IF title; title _ ' - '; END; -%]FindmJob.com</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
<link href="[% config.sites.static %]/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="[% config.sites.static %]/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
<link href="[% config.sites.static %]/css/findmjob.css" rel="stylesheet">
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="[% config.sites.static %]/bootstrap/js/bootstrap.min.js"></script>

[%+ IF is_fb_app %]
<link href="[% config.sites.static %]/bootstrap/css/fbootstrapp.min.css" rel="stylesheet">
[% END +%]

<meta name="viewport" content="width=device-width, initial-scale=1.0">

[%- IF title %]
<meta property="og:title" content="[% title.squote %]" />
<meta property="og:site_name" content="FindmJob.com" />
<meta property="og:type" content="website" />
<meta property="og:url" content="[% config.sites.main %][% base_url %]" />
<meta property="og:image" content="[% config.sites.static %]/Logo.png" />
<!-- Twitter Card -->
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@findmjob" />
<meta name="twitter:creator" content="@findmjob" />
<meta name="twitter:url" content="[% config.sites.main %][% base_url %]" />
<meta name="twitter:title" content="[% title.squote %]" />
[% END %]
[% IF description -%]
[% description = description.replace("\n", ' ').squote %]
<meta property="og:description" content="[% description %]" />
<meta name="twitter:description" content="[% description %]" />
<meta name="description" content="[% description %]" />
[% END -%]
[%- IF meta_keywords %]
<meta name="keywords" content="[% meta_keywords.squote %]" />
[% END -%]

<meta property="fb:app_id" content="281749461905114" />

<link rel="shortcut icon" type="image/x-icon" href="[% config.sites.static %]/favicon.ico" />
</head>
<body>

<div class="container[% IF is_fb_app +%] canvas[% END %]" style="margin-top: 10px">

<header class="subhead">
<div class="row">
  <div class="span4"><a href='/'><img src="[% config.sites.static %]/Logo.png" /></a></div>
  <div class="span6 offset2" style="margin-top: 20px">
    <form action='/search' id="search" class="search-form">
        <input type="text" class="search-query span2" name="q" placeholder="Keyword ...">
        <input type="text" class="search-query span2" name="loc" placeholder="Location ...">
        <input type='submit' class="btn btn-primary" value="Search" />
    </form>
  </div>
</div>

<div class="subnav">
    <ul class="nav nav-pills">
      <li[% IF base_url == '' %] class="active"[% END %]><a href='/'><i class="icon-home"></i></a></li>
      <li[% IF base_url.search('/job') %] class="active"[% END %]><a href="/jobs">Jobs</a></li>
      <li[% IF base_url.search('/freelance') %] class="active"[% END %]><a href="/freelances">Freelances</a></li>
      <li[% IF base_url == '/HowDoesItWork.html' %] class="active"[% END %]><a href="/HowDoesItWork.html">How Does It Work?</a></li>
      <li[% IF base_url == '/AndroidApp.html' %] class="active"[% END %]><a href="/AndroidApp.html">Android App</a></li>
    </ul>
</div>

</header>

[% content %]

<br />
<hr class="soften">
<br />

<footer class="footer">
    [% IF has_feed %]
    [% base_url = base_url.replace('/p.(\d+)/', '/').replace('/p.(\d+)$', '').replace('/$', '') %]
    [% IF base_url == ''; base_url = '/jobs'; END %]
    <p class="pull-right"><img src='[% config.sites.static %]/images/rss.png' /> <a href='[% base_url %]/feed.rss'>RSS</a> | <a href='[% base_url %]/feed.atom'>Atom</a></p>
    <link rel="alternate" type="application/rss+xml" href="[% base_url %]/feed.rss" title="RSS 2.0">
    <link rel="alternate" type="application/atom+xml" href="[% base_url %]/feed.atom" title="Atom 1.0">
    [% END %]
    <p>&copy; FindmJob.com</p>
</footer>

</div>

<script type="text/javascript" src="[% config.sites.static %]/js/jquery.timeago.js"></script>
<script type="text/javascript" src="[% config.sites.static %]/js/findmjob.js"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30546285-1']);
  _gaq.push(['_setDomainName', 'findmjob.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

</body>
</html>